<head>
	<%= javascript_include_tag 'cutaneous_folds'%>
</head>

<% content_for :form_title do %> Dobra cutânea <% end %>

<% content_for :form_fields do %>
	<%= form_with model: @cutaneous_fold, local: true do |f| %>
		<% for field in @cutaneous_fold.attributes %>
			<% if not ['id','created_at', 'updated_at', 'user_id','athlete_id',
			 		   'bm_result', 'residual_mass_result', 'fat_mass_result', 
			 		   'muscle_mass_result', 'lean_mass_result', 'cutaneous_fold_result', 'qualitative_result' ].include? field[0] %>
				<p class='text-left'>
					<%= f.label t field[0] %>
					<%= f.number_field field[0], class: 'form-control' %>
				</p>
			<% end %>
		<% end %>
	
		<p><%= f.submit 'Salvar', class: 'btn salvar' %></p>
	<% end %>
<% end %>

<%= render '/layouts/evaluation' %>