<html >    
    <body>
        
        <div class="container text-center col-lg-7 col-md-12 col-sd-12" >
            
            <div class="row">
                <header class="col-lg-12">
                    <%= image_tag("logo.png") %> 
                    <h1> Propes </h1>
                </header>
            </div>
            
            
            <% flash.each do |key, value| %>
                <div class="alert alert-danger"<%= flash_class(key) %>>
                    <%= value %>
                </div>
            <% end %>
            
            <div class="row justify-content-md-center">
                <div class="col-lg-11" >
                    <%= form_for :session, url: sign_in_path  do |form| %>
                        <p class="text-left">
                          <%= form.label :email%> 
                          <%= form.email_field :email, class: "form-control" %>
                        </p>
                    
                        <p class ="text-left">
                          <%= form.label :password, "Senha"%>
                          <%= form.password_field :password, class:"form-control" %> 
                        </p>
                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sd-12">
                                <%= form.submit "Entrar", class: "btn btn-primary tamanho-form" %>
                            </div>                      
                        </div>
                    
                     
                        <div class="row">
                            <div class="col-lg-12">
                                <%= link_to "Cadastrar-se", registers_new_path , method: :get, :class => "btn btn-danger tamanho-form" %>
                            </div>
                        </div>    
                    
                        <div class="row">
                            <div class="col-lg-12">
                                <%= link_to "Esqueceu a senha ?",  :class => "link" %>
                            </div>
                        </div>  
                  
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
