<nav class='navbar navbar-expand-lg navbar-light ' style='background-color: #386280; box-shadow: 2px 2px;'>
  <a class='navbar-brand' href='#'> Propes </a>
  
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav ml-auto'>
      <% if logged_in? %> 
         <li><%= link_to "en", locale: "en" %></li>
         <li><%= link_to "pt", locale: "pt" %></li>
         <li class='nav-item active'> 
           <%= link_to current_user.name, current_user, :class => 'nav-link white' %> 
         </li>
         
         <li class='nav-item active'> 
           <%= link_to 'Todos os atletas', athletes_path, :class => 'nav-link' %> 
         </li>

         <li class='nav-item active'>
           <%= link_to 'Todos os usuários', users_path, :class => 'nav-link' %>
         </li>
         
         <li class='nav-item active'> 
           <%= link_to 'Sair', sign_out_path, method: 'delete', :class => 'nav-link' %> 
         </li>
         
      <% elsif (logged_in? == false && current_page?(sign_in_path) == false) %>
         
         <li class='nav-item active'> 
           <%= link_to 'Login', sign_in_path, :class => 'nav-link ' %> 
         </li>
         
      <% end %>

    </ul>
    
  </div>
</nav>

