<% content_for :form_title do %> Mobilidade de tornozelo <% end %>

<% content_for :form_fields do %>
	<%= form_with model: @ankle_mobility, local: true do |f| %>
		<% for field in @ankle_mobility.attributes %>
			<% if not db_attribute(field[0]) %>
				<p class='text-left'>
					<%= f.label t field[0] %>
					<%= f.text_field field[0], class: 'form-control' %>
				</p>
			<% end %>
		<% end %>
	
		<p><%= f.submit 'Realizar avaliação', class: 'btn salvar' %></p>
	<% end %>
<% end %>

<%= render '/layouts/evaluation' %>