<h1> Login </h1>
 
<%= form_for :session, url: sign_in_path do |form| %>
    <div class='field'>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
    </div>
    
    <br>
    
    <div class ='field'>
        <%= form.label :password %><br>
        <%= form.password_field :password %>
    </div>

    <br>
    
    <div class='actions'><%= form.submit 'Login' %></div>

<% end %>

