<div class="login">
    
    <div>
        <header>
            <%= image_tag('logo.png') %> 
            <h1 class= "titulo"> Propes </h1>
        </header>
        
    </div> 
        
        <div>
            <%= form_for :session, url: sign_in_path do |form| %>
            
            <div class='field'>
                <%= form.label :email, :class => '' %><br>
                <%= form.email_field :email, :class => 'tamanho-form' %>
            </div>
            
            <div class ='field'>
                <%= form.label :password, 'Senha', :class => '' %><br>
                <%= form.password_field :password, :class => 'tamanho-form'%>
            </div>
                
            <br>
                
            <div >
                <%= form.submit 'Entrar' , :class => 'btn btn-primary tamanho-form' %>
            </div>
            
            <br>
            
            <% end %>
            
            <div>
                <%= link_to 'Cadastrar-se', users_new_path , method: :get, :class => 'btn btn-danger tamanho-form' %>
            </div>
            
            <br>
            
            <div>
                <%= link_to 'Esqueceu a senha ?',  :class => 'link' %>
            </div>
            
        </div>

</div>
