<% content_for :form_title do %> Anamnese <% end %>

<% content_for  :form_fields do %> 
	<%= form_with model: @anamnese, local: true do |f| %>
		<% for field in @anamnese.attributes %>
			<% if not db_attribute(field[0]) and !("is_accompanying" == field[0]) %>
				<p class='text-left'>
					<%= f.label t field[0] %>
					<%= f.text_field field[0], class: 'form-control' %>
				</p>
			<% end %>	

			<% if field[0] == "is_accompanying"%>

				<p class='text-left'>
					<label><%= t field[0] %></label>
					
					<div class="radio text-left">
						<label><input type='radio' name="<%="anamnese[#{field[0].to_s}]"%>" value="Yes"> Sim </label>
					</div>
					
					<div class='radio text-left'>
						<label><input type='radio' name="<%="anamnese[#{field[0].to_s}]"%>" value="No"> Não </label>
					</div>                                
				</p>
			<% end %>
		<% end %>
		<p><%= f.submit 'Realizar avaliação', class: 'btn salvar', id:"btn-salvar" %></p>
	<% end %>
<% end %>

<%= render '/layouts/evaluation' %>
