<html >
    <body style='background-color: #3D81B3;'>
        <div class='container text-center col-md-8 panel'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Cadastre-se como avaliador 
                </h1>
            </div>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                  <%= form_with model: @appraiser, local: true do |appraiser_form| %>
                 
                  <p class='text-left'><%= appraiser_form.label :name, 'Nome' %>
                  <%= appraiser_form.text_field :name, class: 'form-control' %></p>
    
                  <p class='text-left'><%= appraiser_form.label :cpf, 'CPF' %>
                  <%= appraiser_form.text_field :cpf, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :date_birth, 'Data de nascimento' %>
                  <%= appraiser_form.text_field :date_birth, class: 'form-control' %></p>
      
                  <p class='text-left'><%= appraiser_form.label :gender, 'Gênero' %>
                  <%= appraiser_form.text_field :gender, class: 'form-control' %></p>
    
                  <p class='text-left'><%= appraiser_form.label :profession, 'Profissão' %>
                  <%= appraiser_form.text_field :profession, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :address, 'Endereço' %>
                  <%= appraiser_form.text_field :address, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :city, 'Cidade' %>
                  <%= appraiser_form.text_field :city, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :neighborhood, 'Bairro' %>
                  <%= appraiser_form.text_field :neighborhood, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :state, 'Estado' %>
                  <%= appraiser_form.text_field :state, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :cep, 'Cep' %>
                  <%= appraiser_form.text_field :cep, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :home_phone, 'Telefone de casa' %>
                  <%= appraiser_form.text_field :home_phone, class: 'form-control' %></p>
                  
                  <p class='text-left'><%= appraiser_form.label :cell_phone, 'Telefone de celular' %>
                  <%= appraiser_form.text_field :cell_phone, class: 'form-control' %></p>
              
                  <p><%= appraiser_form.submit 'Cadastrar', class: 'btn salvar'%></p>
                  
                 <% end %>
              </div>
            </div>
        </div>
    </body>
</html>
