<html >
    <body>
        <div class='container text-center col-md-8 panel'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Cadastre-se como avaliador 
                </h1>
            </div>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <%= form_with model: @user, validate: true, local: true do |f| %>
                    <% for field in @user.attributes %>
                        
                        <% if not ['id','created_at', 'updated_at', 'avatar','password_digest'].include? field[0] %>
                            <p class='text-left'>
                                <label><%= t field[0] %></label>
                                <%= f.text_field field[0], class: 'form-control'%> 
                            </p>                                

                        <% elsif field[0] == 'avatar' %>
                            <p class='text-left'>
                                <label><%= t field[0] %></label>
                                <p class='text-left'><%= f.file_field field[0], class: 'file_field' %></p>
                            </p>
                        <% end %>
                    <% end %>
                    
                        <p class='text-left'>
                            <label>Senha</label>
                            <%= f.password_field :password, class: 'form-control' %>
                        </p>                   
 
                        <p class='text-left'>
                            <label>Confirmação da Senha</label>
                            <%= f.password_field :password_confirmation, class: 'form-control' %>
                        </p>   
                        
                      
                    <p><%= f.submit 'Cadastrar', class: 'btn salvar' %></p>
                <% end %>
              </div>
            </div>
        </div>
    </body>
</html>
