<html >
    
    <body>
        <div class='container text-center col-lg-7 col-md-12'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Cadastre-se como avaliador 
                </h1>
            </div>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <%= form_with model: @user, validate: true, local: true do |f| %>
                    <% for field in @user.attributes %>
                        
                        <% if not ['id','created_at', 'updated_at', 'avatar','password_digest','password', 'role', 'approved', 'gender'].include? field[0] %>
                            <p class='text-left'>
                                <label><%= t field[0] %></label>
                                <%= f.text_field field[0], data: {mask: getMask(field[0])}, class: 'form-control', placeholder: getPlaceholder(field[0]) %> 
                            </p>                                

                        <% elsif field[0] == 'avatar' %>
                            <p class='text-left'>
                                <label><%= t field[0] %></label>
                                <p class='text-left'><%= f.file_field field[0], class: 'file_field' %></p>
                            </p>
                        

                        <% elsif field[0] == 'gender'%>
                            <p class='text-left'>
                                <%= f.label t field[0]%>
                                <select name="user[gender]" id="user_gender" class="form-control">
                                    <option value="M"> Masculino </option>
                                    <option value="F"> Feminino </option>
                                </select>
                            </p>  
                        <% end %>
                    <% end %>
                    
                        <p class='text-left'>
                            <label>Senha</label>
                            <%= f.password_field :password, class: 'form-control' %>
                        </p>                   
 
                        <p class='text-left'>
                            <label>Confirmação da Senha</label>
                            <%= f.password_field :password_confirmation,class: 'form-control' %>
                        </p>   
                        
                      
                        <input type="submit" name="commit" value="Cadastrar" class="btn salvar" data-disable-with="Cadastrar" class="btn btn-primary">
                    
                <% end %>
              </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
</html>


