<html >    
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    </head>

    <body>
        <div class='container col-md-7'>
            
            <div class='row text-center '>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Editar perfil de <%= @athlete.name %>
                </h1>
            </div>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <%= form_for(@athlete) do |f| %>
                    <% for field in @athlete.attributes%>
                        <% fi = field[0] %>
                        <% if ['name','cpf', 'cep','profession','address','city',
                                'neighborhood','state','cell_phone','home_phone',
                                'modality','date_birth', 'others', 'position', 'age'].include? fi %>
                            <p>
                                <%= f.label t fi %>
                                <%= f.text_field fi, class:"form-control" %>
                            </p>
                        
                        <% elsif fi == 'gender'%>
                            <p>
                                <%= f.label t fi %>
                                <select name="athlete[gender]" id="athlete_gender" class="form-control">
                                    <option value="M"> Masculino </option>
                                    <option value="F"> Feminino </option>
                                </select>
                            </p>  

                        <% elsif fi == 'degree_education'%>
                            <p>
                                <%= f.label t fi %>
                                <select name="athlete[degree_education]" id="degree_education" class="form-control">
                                    <option value="Analfabeto"> Analfabeto </option>
                                </select>
                            </p>  

                        <% elsif fi == 'civil_status'%>
                            <p>
                                <%= f.label t fi %>
                                <select name="athlete[civil_status]" id="athlete_civil_status" class="form-control">
                                    <option value="Casado"> Casado </option>
                                    <option value="Solteiro"> Solteiro </option>
                                    <option value="Separado"> Separado </option>
                                    <option value="Divorciado"> Divorciado </option>
                                    <option value="Viuvo"> Viúvo </option>
                                    <option value="Outro"> Outro </option>
                                </select>
                            </p>  

                        <% elsif ['avatar'].include? fi %>
                            <p>
                                <label><%= t fi %></label>
                                <p class='text-left'><%= f.file_field fi, class: 'file_field' %></p>
                            </p>

                        <% elsif ['diabetes','sah','smoker','alcoholism','cardio_deseases',
                                  'fami_diabetes','fami_alcoholism','fami_cardio', 'fami_sah','exercise_practice'].include? fi %>

                            <p>
                                <label><%= t fi %></label>
                                
                                <div class="radio">
                                    <label><input type='radio' name="<%="athlete[#{fi.to_s}]"%>" value="Yes"> Sim </label>
                                </div>
                                
                                <div class='radio'>
                                    <label><input type='radio' name="<%="athlete[#{fi.to_s}]"%>" value="No"> Não </label>
                                </div>                                
                            </p>

                        <% elsif ['dlm','dum'].include? fi %>

                            <p>
                                <label><%= t fi %></label>
                                
                                <div class="radio">
                                    <label><input type='radio' name="<%="athlete[#{fi.to_s}]"%>" value="left"> Esquerdo </label>
                                </div>
                                
                                <div class='radio'>
                                    <label><input type='radio' name="<%="athlete[#{fi.to_s}]"%>" value="right"> Direito </label>
                                </div>                                
                            </p>
                        <% end %>
                    <% end %>
                </div>
                
                <p><%= f.submit 'Salvar Alterações', class: 'btn salvar text-center', id:"submit_edit_form" %></p>
                
                <% end %>
              
            </div>
        </div>
    </body>
</html>
