<html>
    <body>
        <div class='container' style='background-color: white; margin-top: 2%; border-radius: 30px 30px 30px 30px; border: solid; border-color: white;'>
            <div class='row'>
                <h1 class='col-md-12 text-center' style='color: #70C4FF;'>
                    Perfil de <%= @athlete.name %>
                </h1>                
            </div>
            
            <div class='row' id="athleteElements">
                
                <div class='col-md-12' style='padding-bottom: 3%; padding-top: 2%;'> <!-- NavBar -->
                    <ul class="nav justify-content-center">
                        <li class="nav-item ">
                             <button class="btn" type="button" data-toggle="collapse" data-target="#athlete_data" aria-expanded="false" aria-controls="athlete_data">Dados Pessoais</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#athlete_history" aria-expanded="false" aria-controls="athlete_evaluations">Histórico de Avaliações</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#athlete_evaluations" aria-expanded="false" aria-controls="athlete_history">Realizar avaliações</button>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Editar", edit_athlete_path(@athlete.id), class: 'nav-link' %>
                        </li>
                    </ul>                    
                </div>
                
                <div class='col-md-12'>
                    <div class="collapse multi-collapse" id='athlete_data' data-parent="#athleteElements"> <!-- Athlete Data -->
                        <div class='row justify-content-center'>
                            <table class="table table-sm col-md-8">
                              <tbody>
                                <% athlete_attributes.each do |a| %>
                                    <tr>
                                      <td><strong> <%= t a[0] %>:</strong></td>
                                      <td><%= a[1] %></td>
                                    </tr>
                                <% end %>
                              </tbody>
                            </table>
                                                        
                        </div>

                    </div>
                    
                    <div class="collapse multi-collapse" id="athlete_history" data-parent="#athleteElements"><!-- Athlete History -->
                        <div id="accordion" > 
                            <% actual_day = nil %>
                            <% athlete_history(@athlete.id).each do |a| %>
                                <% if not actual_day == a[0].updated_at.strftime("%d/%m/%Y") %>
                                    <% actual_day =  a[0].updated_at.strftime("%d/%m/%Y") %>
                                    <div class='panel-header '>
                                        <h3> Dia: <%= actual_day %> </h3>
                                    </div>
                                <% end %>
                                
                                <div class="card">
                                    <div class="card-header" id="headingOne" style="border-left: green; border-left-style: solid;">
                                        <button class="btn col-md-12 text-left" data-toggle="collapse" data-target="#history_<%= a[0].id.to_s %>" aria-expanded="false" aria-controls="history_<%= a[0].id.to_s %>">
                                            <a> <%= t a[1] %> - <%= a[0].updated_at.strftime('%H:%M') %> </a>
                                        </button>
                                    </div>
                                
                                    <div id="history_<%=a[0].id.to_s%>" class="collapse" aria-labelledby="heading<%=a[0].id.to_s%>" data-parent="#accordion">
                                         <div class="card-body">
                                            content.......
                                         </div>
                                    </div>
                                </div>
                            <% end %> 
                        </div>                    
                    </div>
                
                    <div class="collapse multi-collapse text-center" id='athlete_evaluations' data-parent="#athleteElements"> <!-- Athlete Evaluation -->
                        <% athlete_evaluations.each do |e| %>
                            <%= link_to e, '/' + e , method: :get, class: 'btn col-md-6' %>
                        <% end %>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>

