<% content_for :form_title do %> de edição Dinamometria <% end %>

<% content_for :form_fields do %>
    <%= form_for(@dynometry) do |f| %>
        <% for field in @dynometry.attributes %>
            
            <% if not ['id','created_at','user_id','athletes_id','updated_at'].include? field[0] %>
                <p class='text-left'>
                    <label><%= t field[0] %></label>
                    <%= f.text_field field[0], class: 'form-control'%> 
                </p>                                

            <% elsif field[0] == 'avatar' %>
                <p class='text-left'>
                    <label><%= t field[0] %></label>
                    <p class='text-left'><%= f.file_field field[0], class: 'file_field' %></p>
                </p>
            <% end %>
        <% end %>
        
        <p class='text-center'><%= f.submit 'Salvar Alterações', class: 'btn btn-primary' %></p>
    <% end %>
<% end %>

<%= render '/layouts/evaluation' %>