<html >
    <body>
        <div class='container text-center col-md-8 panel'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Formulário
                </h1>
            </div>

             <% if @dynometry.errors.any? %>
                 <ul class='alert alert-danger'>
                    <% @dynometry.errors.full_messages.each do |message| %>
                      <li ><%= message %></li>
                    <% end %>                     
                 </ul>
             <% end %>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <%= form_with model: @dynometries, local: true do |f| %>
                    <% for field in @dynometry.attributes %>
                        <% if not ['id','created_at', 'updated_at', 'user_id','athlete_id'].include? field[0] %>
                            <p class='text-left'>
                                <%= f.label field[0] %>
                                <%= f.text_field field[0], class: 'form-control' %>
                            </p>
                        <% end %>
                    <% end %>
                  
                  <p><%= f.submit 'Salvar', class: 'btn salvar' %></p>
                <% end %>
              </div>
            </div>
        </div>
    </body>
</html>