<!DOCTYPE html>
<html>
  <head>
    <title>Propes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- This render part is creating the header of all pages and can be changed in /layouts/_header.html.erb -->
    <%= render '/layouts/header' %>
    <%= yield %>
  </body>
</html>
