<div class="login container">
    
    <div class='row'>
        <header class='col-md-12 center '>
            <%= image_tag('logo.png') %> 
            <h1> Login </h1>
        </header>
    </div > 

    
    <div class='row'>
        <div class='center col-md-12'>
            <%= form_for :session, url: sign_in_path do |form| %>
            
                <p>
                    <%= form.label :email %>
                    <%= form.email_field :email, :class => 'col-md-12' %>
                </p>
            
                <p>
                    <%= form.label :password, 'Senha', :class => '' %><br>
                    <%= form.password_field :password, :class => 'col-md-12'%>
                </p>
                    
                <p><%= form.submit 'Entrar' , :class => 'btn btn-primary col-md-12 ' %></p>
           
            <% end %>
            
            <p><%= link_to 'Cadastrar-se', users_new_path , method: :get, :class => 'btn btn-danger col-md-12' %></p>
            <p><%= link_to 'Esqueceu a senha ?',  :class => 'link' %></p>
        </div>
    </div>
</div>
