<html >
    <body class='site-background'>
        <div class='container panel'>
            <div class='row'>
                <div class='col-md-12'>
                    <%= form_tag(athletes_path, method: :get) do %>
                      
                      <div class='col-md-12 ' >
                          <%= text_field_tag :name, params[:name], class: 'col-md-8 form-control', placeholder: 'Pesquisar' %>
                      </div>
                      
                      <div class='col-md-12 '>
                          <%= submit_tag 'Search', name: nil, class: 'col-md-2 btn btn-primary' %>
                      </div>
                     
                    <% end %>          
                </div>            
            </div>
            
            <table class="table table-striped ">
                
                <thead class='thead-dark'> 
                    <th scope='col'> ID </th>
                    <th scope='col'> Nome </th>
                    <th scope='col'> Visualizar </th>
                    <th scope='col'> Deletar </th>
                </thead>
             
                <tbody>
                    <% @athletes.each do |a| %>
                        <tr>
                            <th scope='row'> <%= a.id %></th>
                            <td> <%= a.name %> </td>
                            <td> <%= button_to 'Visualizar', a , method: :get , :class => 'btn btn-primary' %></td>
                            <td> <%= button_to 'Delete', a , method: :delete , :class => 'btn btn-danger' %></td>
                        </tr>
                    <% end %>        
                </tbody>
            </table>
        </div>
    </body>
</html>
