<html >
    <body style='background-color: #3D81B3;'>
        <div class='container text-center col-md-8 panel'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Atualize seu perfil 
                </h1>
            </div>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <%= form_for(@user) do |f| %>
              
                  <p class='text-left'><%= f.label :avatar, 'Foto de perfil' %>
                   <%= f.file_field :avatar, class: 'form-control' %></p>
            
                  <p class='text-left'><%= f.label :name, 'Nome' %>
                  <%= f.text_field :name, class: 'form-control' %></p>
            
                  <p class='text-left'><%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %></p>
                
                  <p class='text-left '><%= f.label :password, 'Senha (para confirmar alterações)' %>
                  <%= f.password_field :password, class: 'form-control' %></p>


                    <!-- FAZER O MESMO COM OS OUTROS CAMPOS -->

                  <p><%= f.submit 'Salvar Mudanças', class: 'btn salvar'%></p>
                <% end %>
              </div>
            </div>
        </div>
    </body>
</html>
