<div id="accordion" >
    
    <% if athlete_history(@athlete.id).length == 0 %>
        <div class='text-center'>
            <h3> Nenhuma avaliação feita, vamos fazer uma agora :) </h3>
        </div>
    <% end %>
    
    <% actual_day = nil %>
    <% counter = 0 %>
    <% athlete_history(@athlete.id).each do |a| %>
    
        <% if not actual_day == a[0].updated_at.strftime("%d/%m/%Y") %>
            <% actual_day =  a[0].updated_at.strftime("%d/%m/%Y") %>
            <div class='panel-header '>
                <h5> Dia: <%= actual_day %> </h5>
            </div>
        <% end %>
        
        <div class="card" style='margin-bottom: 2%;'>
            <div class="card-header" id="headingOne<%=counter%>">
                <button class="btn col-md-12 text-left" data-toggle="collapse" data-target="#history_<%= counter %>" aria-expanded="false" aria-controls="history_<%= a[0].id.to_s %>">
                    <div class='row'>
                        <div class='col-md-6'>
                            <a> <%= t a[1] %> - <%= a[0].updated_at.strftime('%H:%M') %> </a>
                        </div>
                        <div class='col-md-6'>
                            <div class='row '>
                                <div class='col-md-8 text-right'>
                                    <%= button_to "Editar", a[0] , method: :edit , class: "btn btn-warning"%>
                                </div>
                                
                                <div class='col-md-4 '>
                                    <%= button_to "Deletar", a[0] , method: :delete , data: {confirm: "Você tem certeza ?"}, class: "btn btn-danger"%>
                                </div>
                            </div>
                            
                            
                        </div>                        
                    </div>
                </button>
            </div>
            
            <div id="history_<%=counter%>" class="collapse" aria-labelledby="heading<%=counter%>" data-parent="#accordion" >
                <div class="card-body row ">

                    <% if a[0].attributes.include? 'qualitative_result' %> 
                        <script language="javascript" type="text/javascript">
                            
                            var element = document.getElementById("headingOne<%= counter %>");
                            var qualitative_result = "<%= a[0].qualitative_result %>";
                            
                            if (qualitative_result == "Ruim" || qualitative_result == "Muito Ruim" || qualitative_result == "Abaixo da media"  ){
                                   element.classList.add("badResult"); 
                            }
                            else if (qualitative_result == "Media" ){element.classList.add("averageResult"); } 
                            else {element.classList.add("goodResult");}
                        </script>

                    <% end %> 
                    
                    <div class='col-md-12'>
                        <table class="table table-sm">
                            <tbody>
                                <% if current_user.id == a[0].user_id%>
                                    <% a[0].attributes.each do |at| %>
                                        <% if not ["id", "athlete_id", "updated_at", "created_at", "user_id"].include? at[0] %>
                                            <tr>
                                                <td><strong> <%= t at[0] %>: </strong></td>
                                                <td><%= at[1] %></td>
                                            </tr>
                                        <% end %>    
                                    <% end %>
                                <% end%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% counter += 1 %>    
    <% end %> 
</div>